@import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  background: ;
}


.form-outside{
  float: left;
}





html,body{
  display: grid;
  height: 40%;
  place-items: center;
  background: "white";
  font-family: 'Lato', sans-serif;
  position:absolute;
  top: 1px;
}
.wrapper{
  display: inline-flex;
  background: #fff;
  height: 30px;
  width: 400px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  /*padding: 20px 15px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);*/
}
.wrapper .option{
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
/*
.wrapper .option .dot{
  height: 10px;
  width: 10px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
*/
.wrapper .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #0069d9;
  border-radius: 30%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}

input[type="radio"]{
  display: none;
}

#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
  border-color: #0069d9;
  background: #0069d9;
}
#option-3:checked:checked ~ .option-3{
  border-color: #0069d9;
  background: #0069d9;
}
#option-4:checked:checked ~ .option-4{
  border-color: #0069d9;
  background: #0069d9;
}
#option-5:checked:checked ~ .option-5{
  border-color: #0069d9;
  background: #0069d9;
}

#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
  background: #fff;
}
#option-3:checked:checked ~ .option-3 .dot{
  background: #fff;
}
#option-4:checked:checked ~ .option-4 .dot{
  background: #fff;
}
#option-5:checked:checked ~ .option-5 .dot{
  background: #fff;
}



#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
  opacity: 1;
  transform: scale(1);
}
#option-3:checked:checked ~ .option-3 .dot::before{
  opacity: 1;
  transform: scale(1);
}
#option-4:checked:checked ~ .option-4 .dot::before{
  opacity: 1;
  transform: scale(1);
}
#option-5:checked:checked ~ .option-5 .dot::before{
  opacity: 1;
  transform: scale(1);
}


.wrapper .option span{
  font-size: 15px;
  color: #000000;

}


#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
  color: #fff;
}
#option-3:checked:checked ~ .option-3 span{
  color: #fff;
}
#option-4:checked:checked ~ .option-4 span{
  color: #fff;
}
#option-5:checked:checked ~ .option-5 span{
  color: #fff;
}


.started{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Heading-box{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Heading-box .head-2{
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.para .head2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}


/*Border blue colour & center the form*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.centered-content {
  width: 80%;
  height: 50%;
  padding-left: 450px;
  margin: 10px;
  position:absolute;
  text-align: center;
}


div .wrapper{
  width:300px;
}

.icon{
  width:130px;
  height:60px;
  
}

.form-outside{
  position:relative;
   left:80px;
   top:2px
}

.rectangle-1{
 width: 769px;
 height:13.44px;
 top:696.09px;
 left: -124.11px;
 transform: rotate(30deg);

 fill: solid;
 background-color: #E0E8FC;
}

.rectangle-2{
  width: 769px;
  height:13.44px;
  top:696.09px;
  left: -124.11px;
  transform: rotate(30deg);
  
  fill: solid;
  background-color: #E0E8FC;
 }

.form-login {
  border: 3px solid #0069d9;
  width: 530px; 
  height: 600px;
  
}
/*
.main-Class{
 background-color: #fff;
}*/